.backgroundimage{
  background-image: url("./components/assets/Home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 height: 750px;
}

@media screen and (max-width: 768px) {
  .backgroundimage {
    height: 500px; /* Adjusted height for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .backgroundimage {
    height: 250px; /* Further adjusted height for even smaller screens */
  }
}

